body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 20%;
    margin: 100px auto;
}

form {
    opacity: 0.9;
    background: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #F0542C;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #F0542C;
    border-radius: 30px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background: #F0542C;
    color: #FFF;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #F0542C;
}

p {
    margin-top: 20px;
}

.alert {
    font-weight: 600;
    color: #F0542C;
    text-align: center;
}